* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
}

header {
  /* background-color: red; */
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.tabledatatext {
  /* background-color: aquamarine; */
}

.container-footer {
  /* background-color: rgb(104, 105, 105); */
}

.container-footer-rights {
  /* background-color: rgb(202, 214, 250); */
}

.container-footer-about {
  /* background-color: rgb(104, 105, 105); */
}

/* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
  overflow: hidden;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

.carousel-item>img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
  background-color: transparent;
}

.carousel-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);

  /* background:rgba(0,0,0,0.7); */
}

/* card shield */


@media only screen and (min-width: 768px) {
  .card-body>img {
    margin-top: 2rem;

  }
}


#logo{
  /* display: flex; */
  /* color: white;
  align-items: center;
  margin: 0 14px;
  font-size: 28px;
  margin-right: 40px; */
/*   align-items: center; */

}

#logo img{
height: 100%;
   /* filter: invert(1);  */
  max-width: 100%;
  border: 0;
  vertical-align: middle;
  color: red;


}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-area__content2 {
    padding-top: 80px;
    padding-bottom: 45px;
  }
}

.about-area__content2 {
  padding-top: 150px;
  padding-bottom: 65px;
  padding-left: 10px;
  padding-right: 10px;
}

.firo-pricing-table.layout-3 .price-in span.price span.c2
{
  font-size: 20px;
  text-decoration: line-through;
  color: #a5a5a5;

}
